<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="../css/estilos.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Buscar Vuelos</h1>
	<form th:action="@{/clientes/mostrar/vuelosDisponibles}" th:object="${vuelo}" th:method="GET">
		<div class="table table-dark table-striped">
			<table>
				<tr>
					<td>
						<label>Origen:</label>
					</td>
					<td>
						<input type="text" id="origen" th:field="*{origen}">
					</td>
				</tr>
					<tr>
					<td>
						<label>destino:</label>
					</td>
					<td>
						<input type="text" id="destino" th:field="*{destino}">
					</td>
				</tr>
				<tr>
				<td>
					<label>Fecha Vuelo:</label>
				</td>
				<td>
					<input class="form-control" type="datetime-local" id="fecha" th:field="*{fechaVuelo}">
				</td>
			</tr>
		
				<tr>
				</tr>
			</table>
		</div>
		<input class="btn btn-outline-dark" type="submit" value="Buscar">
	</form>
</body>



</html>